<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
<!--    <test name="Pixel 3a API 28">-->
<!--        <parameter name="deviceName" value="Pixel 3a API 28"/>-->
<!--        <parameter name="udid" value="emulator-5556"/>-->
<!--        <parameter name="platformVersion" value="9"/>-->
<!--        <parameter name="platformName" value="Android"/>-->
<!--        <parameter name="appPackage" value="com.swaglabsmobileapp"/>-->
<!--        <parameter name="appActivity" value="com.swaglabsmobileapp.SplashActivity"/>-->
<!--        <parameter name="automationName" value="UiAutomator2"/>-->
<!--        <classes>-->
<!--            <class name="testRunner.TestngRunnerTest"/>-->
<!--        </classes>-->
<!--    </test>-->

    <test name="Pixel 3a API 29">
        <parameter name="deviceName" value="Pixel 3a API 29"/>
        <parameter name="udid" value="emulator-5554"/>
        <parameter name="platformVersion" value="10"/>
        <parameter name="platformName" value="Android"/>
        <parameter name="browserName" value="Chrome"/>
        <parameter name="automationName" value="UiAutomator2"/>
        <classes>
            <class name="testRunner.TestngRunnerWebTest"/>
        </classes>
    </test>
</suite> <!-- Default Suite -->